@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&family=PT+Serif&family=Plus+Jakarta+Sans:wght@200&family=Roboto+Flex:opsz,wght@8..144,300&display=swap');



/* Nav Bar */

#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 20px;
    position: relative;
    margin-top: 2%;
}
#nav>img{
    width: 4%;
}
#nav>div{
    text-transform: uppercase;
    background-color: rgba(245, 245, 245, 0.06);
    backdrop-filter: blur(30px);
    padding-left: 10%;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    font-size: 14px;
}
hr+div>div{
    padding: 5%;
    padding-left: 0;
    padding-right: 2%;
}
a{
    text-decoration: none;
    color: white;
    font-family: 'Roboto Flex', sans-serif;
    letter-spacing: 4px;
    font-weight: 800;
    text-transform: uppercase;
}
span{
    font-weight: 300;
}
hr{
    width: 37%;
    position: absolute;
    left: 7%;
    top: 43%;
    z-index: 100;
    border: 0.1px solid #9397b25d;
}
#anc>div:hover{
    border-bottom: 3px solid rgba(255, 255, 255, 0.326);
    cursor: pointer;
}


/* Home Page */

#home{
    width: 90%;
    margin: auto;
    background-image: url(./assets/home/background-home-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#homePage{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 10%;
    padding-top: 15%;
}
#homePage>div:last-child{
    background-color: #edede8;
    border-radius: 100%;
    width: 25%;
    height: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8%;
}
#homePage .h5{
    color: #c3c6d7;
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    letter-spacing: 4.75px;
    margin-bottom: 20%;
    font-weight: 500;
}
#homePage .h1{
    color: rgb(255,255,255);
    text-transform: uppercase;
    font-family: 'Bellefair', serif;
    font-size: 150px;
}
#homePage p{
    width: 70%;
    color: #c3c6d7;
    /* font-family: 'Barlow Condensed', sans-serif; */
    font-size: 16px;
    line-height: 35px;
    margin-top: -7%;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
#homePage h4{
    font-size: 32px;
    font-family: 'PT Serif', serif;
    text-transform: uppercase;
    font-weight: 400;
}
#homePage>div:last-child:hover{
    cursor: pointer;
    border: 50px solid rgb(66, 66, 66);
    transition: border-width 0.2s linear;
}


/* Destination Page */

#dest{
    width: 90%;
    margin: auto;
    background-image: url(./assets/destination/background-destination-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#destPage{
    display: flex;
    justify-content: space-between;
    gap: 10%;
    width: 80%;
    margin: auto;
}
#destPage h5{
    color: #50525a;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: bolder;
    margin-bottom: 5%;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
#destPage span{
    font-size: 28px;
    color: whitesmoke;
    font-weight: 100;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 4.75px;
}
#destPage img{
    height: 70%;
    width: 95%;
    margin-left: 10%;
}
#destPage>div:last-child{
    width: 40%;
    margin-top: 15%;
}
#cat{
    display: flex;
    gap: 7%;
    text-align: start;
}
#cat>div{
    padding: 3%;
}
#cat>div:nth-child(1):hover,#cat>div:nth-child(2):hover,#cat>div:nth-child(3):hover,#cat>div:nth-child(4):hover{
    border-bottom: 3px solid rgba(255, 255, 255, 0.326);
    cursor: pointer;
}
#destPage hr{
    width: 35%;
    margin-left: 50%;
    top: 90%;
}
.h2{
    color: rgb(255,255,255);
    text-transform: uppercase;
    font-family: 'Bellefair', serif;
    font-size: 100px;
    margin-top: 5%;
}
.h2+p{
    width: 100%;
    color: #c3c6d7;
    font-size: 16px;
    line-height: 25px;
    margin-top: -12%;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
#infoPlanet{
    margin-top: 10%;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}
#infoPlanet>div>p:first-child{
    font-size: 14px;
    color: white;
    letter-spacing: 2.35px;
    margin: 0%;
    margin-bottom: 5%;
    font-family: 'Barlow Condensed', sans-serif;
}
#infoPlanet>div>p:last-child{
    font-size: 28px;
    color: white;
    margin: 0%;
    font-family: 'Bellefair', serif;
}


/* Crew Page */

#crew{
    width: 90%;
    margin: auto;
    background-image: url(./assets/crew/background-crew-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#crew h5{
    color: #50525a;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: bolder;
    margin-bottom: 5%;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
#crew span{
    font-size: 28px;
    color: whitesmoke;
    font-weight: 100;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 4.75px;
}


/* Technology page */

#tech{
    width: 90%;
    margin: auto;
    background-image: url(./assets/technology/background-technology-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#techPage{
    width: 90%;
    margin-left: 10%;
}
#techPage h5{
    color: #50525a;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: bolder;
    margin-bottom: 5%;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
#techPage span{
    font-size: 28px;
    color: whitesmoke;
    font-weight: 100;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 4.75px;
}
#mainBody{
    display: flex;
    gap: 6%;
}
#num{
    width: 10%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 5%;
    margin-top: 5%;
}
#num>a{
    color: white;
    border: 1px solid #3f414a;
    border-radius: 100%;
    font-size: 32px;
    width: 30%;
    padding: 20%;
    text-align: center;
    font-family: 'Bellefair', serif;
    font-weight: 400;
}
#num>a:hover{
    background-color: white;
    border: 1px solid white;
    color: black;
}
#para{
    width: 42%;
    margin-top: 4%;
}
#para>p:first-child{
    color: #c3c6d7;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 2px;
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
}
#para>p:nth-child(2){
    color: white;
    font-size: 50px;
    letter-spacing: 2px;
    font-family: 'Bellefair', serif;    
    text-transform: uppercase;
    margin: 0%;
}
#para>p:last-child{
    color: white;
    font-size: 16px;
    line-height: 30px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
#mainBody>div:last-child{
    width: 42%;
}
img{
    width: 100%;
}
