@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&family=PT+Serif&family=Plus+Jakarta+Sans:wght@200&family=Roboto+Flex:opsz,wght@8..144,300&display=swap');



/* Nav Bar */

#nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 20px;
    position: relative;
    margin-top: 2%;
}
#nav>img{
    width: 4%;
}
#nav>div{
    text-transform: uppercase;
    background-color: rgba(245, 245, 245, 0.06);
    backdrop-filter: blur(30px);
    padding-left: 10%;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    font-size: 14px;
}
hr+div>div{
    padding: 5%;
    padding-left: 0;
    padding-right: 2%;
}
a{
    text-decoration: none;
    color: white;
    font-family: 'Roboto Flex', sans-serif;
    letter-spacing: 4px;
    font-weight: 800;
    text-transform: uppercase;
}
span{
    font-weight: 300;
}
hr{
    width: 37%;
    position: absolute;
    left: 7%;
    top: 43%;
    z-index: 100;
    border: 0.1px solid #9397b25d;
}
#anc>div:hover{
    border-bottom: 3px solid rgba(255, 255, 255, 0.326);
    cursor: pointer;
}
@media all and (min-width:350px) and (max-width:767px){
    #home{
        width: 100%;
        margin: 0px;
        background-image: url(./assets/home/background-home-tablet.jpg);
        background-repeat: no-repeat;
    }
    #nav>div{
        padding-left: 2%;
        width: 35%;
        display: flex;
        justify-content: space-evenly;
        gap: 10px;
        font-size: 14px;
        background-color: transparent;
    }
    #nav>img{
        width: 4%;
        margin-left: -4%;
    }
    hr{
        display: none;
    }
}
@media all and (min-width:768px) and (max-width:1030px){
    hr{
        display: none;
        width: 0%;
    }
    #nav>div{
        width: 92%;
    }
}


/* Home Page */

#home{
    width: 90%;
    margin: auto;
    background-image: url(./assets/home/background-home-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.9) !important;
}
#homePage{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 10%;
    padding-top: 15%;
}
#homePage>div:last-child{
    background-color: #edede8;
    border-radius: 100%;
    width: 25%;
    height: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8%;
}
#homePage .h5{
    color: #c3c6d7;
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    letter-spacing: 4.75px;
    margin-bottom: 20%;
    font-weight: 500;
}
#homePage .h1{
    color: rgb(255,255,255);
    text-transform: uppercase;
    font-family: 'Bellefair', serif;
    font-size: 150px;
}
#homePage p{
    width: 70%;
    color: #c3c6d7;
    /* font-family: 'Barlow Condensed', sans-serif; */
    font-size: 16px;
    line-height: 35px;
    margin-top: -7%;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
#homePage h4{
    font-size: 32px;
    font-family: 'PT Serif', serif;
    text-transform: uppercase;
    font-weight: 400;
}
#homePage>div:last-child:hover{
    cursor: pointer;
    border: 50px solid rgb(66, 66, 66);
    transition: border-width 0.2s linear;
}

@media all and (min-width:350px) and (max-width:767px){
    #homePage{
        /* width: 100%; */
        margin: 0%;
        flex-direction: column;
        padding-top: 20%;
        text-align: center;
    }
    #homePage>div:first-child{
        width: 100%;
        margin-left: 0%;
    }
    #homePage .h5{
        font-size: 20px;
        margin-bottom: 30%;
        text-align: center;
        margin-left: 0%;
        width: 100%;
    }
    #homePage .h1{
        font-size: 90px;
        margin-left: 30%;
    }
    #homePage p{
        width: 100%;
        line-height: 25px;
        margin-left: 30%;
    }
    #homePage h4{
        font-size: 32px;
        font-family: 'PT Serif', serif;
        text-transform: uppercase;
        font-weight: 400;
    }
    #homePage>div:last-child{
        background-color: #edede8;
        border-radius: 100%;
        width: 40%;
        height: auto;
        margin-top: 15%;
        margin-bottom: 10%;
        margin-left: 55%;
    }
    #homePage>div:last-child:hover{
        margin-left: 35%;
    }
}
@media all and (min-width:768px) and (max-width:1030px){
    #home{
        /* width: 100%; */
        margin: 0%;
        background-image: url(./assets/home/background-home-tablet.jpg);
        background-repeat: no-repeat;
    }
    #homePage{
        width: 100%;
        margin: 0%;
        flex-direction: column;
        padding-top: 20%;
        text-align: center;
    }
    #homePage>div:first-child{
        width: 100%;
        margin-left: 15%;
    }
    #homePage>div:last-child{
        background-color: #edede8;
        border-radius: 100%;
        width: 20%;
        height: 60%;
        margin-top: 15%;
    }
}


/* Destination Page */

#dest{
    width: 90%;
    margin: auto;
    background-image: url(./assets/destination/background-destination-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.9) !important;
}
#destPage{
    display: flex;
    justify-content: space-between;
    gap: 10%;
    width: 80%;
    margin: auto;
}
#destPage h5{
    color: #50525a;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: bolder;
    margin-bottom: 5%;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
#destPage span{
    font-size: 28px;
    color: whitesmoke;
    font-weight: 100;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 4.75px;
    margin-left: 3%;
}
#destPage img{
    height: 70%;
    width: 95%;
    margin-left: 10%;
}
#destPage>div:last-child{
    width: 40%;
    margin-top: 15%;
}
#cat{
    display: flex;
    gap: 7%;
    text-align: start;
}
#cat>div{
    padding: 3%;
}
#cat>div:nth-child(1):hover,#cat>div:nth-child(2):hover,#cat>div:nth-child(3):hover,#cat>div:nth-child(4):hover{
    border-bottom: 3px solid rgba(255, 255, 255, 0.326);
    cursor: pointer;
}
#destPage hr{
    width: 35%;
    margin-left: 50%;
    top: 90%;
}
.h2{
    color: rgb(255,255,255);
    text-transform: uppercase;
    font-family: 'Bellefair', serif;
    font-size: 100px;
    margin-top: 5%;
}
.h2+p{
    width: 100%;
    color: #c3c6d7;
    font-size: 16px;
    line-height: 25px;
    margin-top: -12%;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
#infoPlanet{
    margin-top: 10%;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}
#infoPlanet>div>p:first-child{
    font-size: 14px;
    color: white;
    letter-spacing: 2.35px;
    margin: 0%;
    margin-bottom: 5%;
    font-family: 'Barlow Condensed', sans-serif;
}
#infoPlanet>div>p:last-child{
    font-size: 28px;
    color: white;
    margin: 0%;
    font-family: 'Bellefair', serif;
}

@media all and (min-width:350px) and (max-width:767px){
    #dest{
        background-image: url(./assets/destination/background-destination-mobile.jpg);
    }
    #destPage{
        flex-direction: column;
        gap: 20%;
        width: 100%;
    }
    #destPage h5{
        font-size: 20px;
        margin-bottom: 10%;
        text-align: center;
        margin-left: 0%;
        width: 100%;
    }
    #destPage span{
        font-size: 24px;
        margin-left: 0%;
    }
    #destPage>div:last-child{
        width: 100%;
        margin-top: 10%;
    }
    .h2{
        font-size: 90px;
        margin-top: 5%;
        text-align: center;
    }
    .h2+p{
        width: 100%;
        margin-top: -20%;
        text-align: center;
    }
}
@media all and (min-width:768px) and (max-width:1030px){
    #dest{
        width: 100%;
        margin: 0%;
        background-image: url(./assets/destination/background-destination-tablet.jpg);
    }
    #destPage{
        flex-direction: column;
        gap: 20%;
        width: 100%;
    }
    #destPage h5{
        font-size: 20px;
        margin-bottom: 10%;
        text-align: center;
        margin-left: 0%;
        width: 100%;
    }
    #destPage span{
        font-size: 24px;
        margin-left: 0%;
    }
    #destPage>div:last-child{
        width: 100%;
        margin-top: 10%;
    }
    .h2{
        font-size: 90px;
        margin-top: 5%;
        text-align: center;
    }
    .h2+p{
        width: 100%;
        margin-top: -5%;
        text-align: center;
        line-height: 40px;
    }
    
}


/* Crew Page */

#crew{
    width: 90%;
    margin: auto;
    background-image: url(./assets/crew/background-crew-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#crewPage{
    width: 80%;
    margin: auto;

    margin-top: 3%;
}
#crewPage h5{
    color: #50525a;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: bolder;
    margin-bottom: 10%;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
#crewPage span{
    font-size: 28px;
    color: whitesmoke;
    font-weight: 100;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 4.75px;
    margin-left: 3%;
}
#flexPage{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}
#crewPage hr{
    display: none;
}
#midPage>p:first-child{
    color: gray;
    font-size: 30px;
    letter-spacing: 2px;
    font-family: 'Bellefair', serif;    
    text-transform: uppercase;
}
#midPage>p:nth-child(2){
    color: white;
    font-size: 50px;
    letter-spacing: 2px;
    font-family: 'Bellefair', serif;    
    text-transform: uppercase;
    margin-top: 1%;
}
#midPage>p:nth-child(3){
    color: white;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 1px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
#carousel{
    display: flex;
    gap: 4%;
    padding-top: 5%;
    padding-bottom: 5%;
}
#carousel>a{
    background-color: #363842;
    padding: 1.5%;
    border-radius: 100%;
}
#carousel>a:hover{
    background-color: white;
}
#flexPage>div:first-child{
    width: 100%;
    margin-top: -10%;
    padding: 0px;
}

@media all and (min-width:350px) and (max-width:767px){
    #crew{
        width: 100%;
        margin: 0px;
        background-image: url(./assets/crew/background-crew-mobile.jpg);
        background-color: black;
    }
    #nav>img{
        margin-left: 4%;
    }
    #crewPage{
        width: 100%;
        margin: 0px;
    }
    #crewPage h5{
        font-size: 20px;
        margin-bottom: 0%;
        text-align: center;
    }
    #crewPage span{
        font-size: 24px;
        margin-left: 3%;
    }
    #flexPage{
        display: flex;
        flex-direction: column;
    }
    #flexPage>div:first-child{
        margin-top: 2%;
    }
    #flexPage img{
        width: 100%;
        margin-left: 20%;
        margin-top: 10%;
    }
    #flexPage>div:first-child>hr{
        display: inline;
        width: 100%;
        position: absolute;
        z-index: 100;
        border: 0.1px solid #9397b25d;
    }
    #midPage{
        width: 100%;
        text-align: center;
        margin-left: 15%;
    }
    #midPage>p:first-child{
        font-size: 25px;
    }
    #midPage>p:nth-child(2){
        color: white;
        font-size: 30px;
        letter-spacing: 2px;
        font-family: 'Bellefair', serif;    
        text-transform: uppercase;
        margin-top: 1%;
    }
    #carousel{
        width: 40%;
        margin-left: 0px;
        margin: auto;
        gap: 6%;
    }
    #carousel>a{
        padding: 6%;
    }
}
@media all and (min-width:768px) and (max-width:1030px){
    #crew{
        width: 100%;
        margin: 0px;
        background-image: url(./assets/crew/background-crew-tablet.jpg);
        background-color: black;
    }
    #nav>img{
        margin-left: 4%;
    }
    #crewPage{
        width: 100%;
        margin: 0px;
    }
    #crewPage h5{
        font-size: 20px;
        margin-bottom: 0%;
        margin-left: 5%;
    }
    #crewPage span{
        font-size: 24px;
        margin-left: 3%;
    }
    #flexPage{
        display: flex;
        flex-direction: column-reverse;
    }
    #flexPage>div:first-child{
        margin-top: 2%;
    }
    #flexPage img{
        width: 100%;
        margin-left: 20%;
        margin-top: 10%;
    }
    #midPage{
        width: 100%;
        text-align: center;
        margin-left: 15%;
    }
    #midPage>p:first-child{
        font-size: 40px;
        margin-bottom: 2%;
    }
    #midPage>p:nth-child(2){
        color: white;
        font-size: 60px;
        letter-spacing: 2px;
        font-family: 'Bellefair', serif;    
        text-transform: uppercase;
        margin-top: 0px;
    }
    #midPage>p:nth-child(3){
        width: 80%;
        margin: auto;
        font-size: 20px;
        margin-top: -3%;
    }
    #carousel{
        width: 40%;
        margin-left: 0px;
        margin: auto;
        gap: 6%;
    }
    #carousel>a{
        padding: 6%;
    }

}


/* Technology page */

#tech{
    width: 90%;
    margin: auto;
    background-image: url(./assets/technology/background-technology-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#techPage{
    width: 90%;
    margin-left: 10%;
}
#techPage h5{
    color: #50525a;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: bolder;
    margin-bottom: 5%;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
#techPage span{
    font-size: 28px;
    color: whitesmoke;
    font-weight: 100;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 4.75px;
    margin-left: 3%;
}
#mainBody{
    display: flex;
    gap: 6%;
}
#num{
    width: 10%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 5%;
    margin-top: 5%;
}
#num>a{
    color: white;
    border: 1px solid #3f414a;
    border-radius: 100%;
    font-size: 32px;
    width: 30%;
    padding: 20%;
    text-align: center;
    font-family: 'Bellefair', serif;
    font-weight: 400;
}
#num>a:hover{
    background-color: white;
    border: 1px solid white;
    color: black;
}
#para{
    width: 42%;
    margin-top: 4%;
}
#para>p:first-child{
    color: #c3c6d7;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 2px;
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
}
#para>p:nth-child(2){
    color: white;
    font-size: 50px;
    letter-spacing: 2px;
    font-family: 'Bellefair', serif;    
    text-transform: uppercase;
    margin: 0%;
}
#para>p:last-child{
    color: white;
    font-size: 16px;
    line-height: 30px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
#mainBody>div:last-child{
    width: 42%;
}
img{
    width: 100%;
}

@media all and (min-width:350px) and (max-width:767px){
    #tech{
        width: 767px;
        margin: 0px;
        background-image: url(./assets/technology/background-technology-mobile.jpg);
        background-color: black;
    }
    #techPage{
        width: 100%;
        margin-left: 0px;
        text-align: center;
    }
    #techPage h5{
        font-size: 20px;
    }
    #techPage span{
        font-size: 24px;
    }
    #mainBody{
        display: grid;
        grid-template-rows: repeat();
    }
    #num{
        width: 50%;
        margin: auto;
        flex-direction: row;
        gap: 5%;
        margin-top: 5%;
    }
    #num>a{
        color: white;
        border: 1px solid #3f414a;
        border-radius: 100%;
        font-size: 32px;
        width: 30%;
        padding: 20%;
        text-align: center;
        font-family: 'Bellefair', serif;
        font-weight: 400;
    }
    #num>a:hover{
        background-color: white;
        border: 1px solid white;
        color: black;
    }
    #para{
        width: 100%;
        margin-top: 4%;
        margin: auto;
    }
    #para>p:nth-child(2){
        font-size: 35px;
    }
    #techPage>div:nth-child(2){
        width: 100%;
        margin: 0px;
    }
}
@media all and (min-width:768px) and (max-width:1030px){

}
